<div class="grid flex justify-content-evenly flex-wrap mt-5 color">
    <p class="col-6 flex align-items-center justify-content-center"><span>Nombre : </span> Breiner Andres</p>
    <p class="col-6 flex align-items-center justify-content-center"><span>Apellido : </span> Rojas Angulo</p>
    <p class="col-6 flex align-items-center justify-content-center"><span>Correo : </span> breiner2552@gmail.com</p>
    <p class="col-6 flex align-items-center justify-content-center"><span>Numero : </span> 3246157920</p>
</div>