body,html{
    height:100%;
}

p{

    width: 35%;
    text-align: center;
    margin: 10%;
    font-size: 500%;

}
img{

    width: 800px;
    margin-top: 3%;
    height: auto;

}

.color_azul {
    color: rgb(25%, 48%, 100%);
}

.negrita{
    font-weight: 700;
}

i{
    font-size: 2rem;color: rgb(25%, 48%, 100%);
}