<div id="home" class="grid">
    <!-- class="negrita" -->
   <p> <span class="col-6 negrita" > hola mundo</span>, Me presento soy <span class="color_azul">{{ nombre }}</span>y soy programador de software</p>
    <img class="col-6" src="../../../assets/img/User research-rafiki.png" alt="">
</div>
<!-- class="icon" -->
<div class="card" style="margin-left: 5rem;">
    <div class="bottom-0 left-0">
        <a href="https://www.linkedin.com/in/breiner-andres-rojas-14638b211"  style="margin: 1rem;"><i class="pi pi-linkedin" ></i></a>
        <a href="https://github.com/breiner-desing" style="margin: 1rem;" ><i class="pi pi-github" ></i></a>
    </div>
</div>
