body{
    
}

.titulo{

    text-align: center;
    font-size: 300%;
    border-bottom: 5px solid rgb(25%, 48%, 100%) ;
    border-radius: 3px;

}

.position{
    margin-top: 5%;
    width: 15%;
    margin-left: 40%;
}

.descripcion{
    font-size: 150%;
    margin: 5%;
    width: 25%;
    height: auto;
    float: left;

   
    line-height: 150%;
    margin-left: 15%;
    // background: rgb(121, 154, 231) ;
}

img{
    width: 30%;
    margin-left: 8%;
}

.tabla{
    margin-top: 8%;
    // padding: 5;
    width: 70%;
    padding-right:40%;

}

.lenguajes{
    border-bottom: 5px solid rgb(25%, 48%, 100%) ;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}

.titulo-2{
    text-align: center;
    font-size: 250%;
    border-bottom: 5px solid rgb(25%, 48%, 100%) ;
    border-radius: 3px;
}