<div class="position" >
    <p class="titulo">Sobre mi</p>
</div>
<div>
    <p class="descripcion texto">Hola mi nombre ess Breiner Rojas, tengo 19 años, soy desarollador de sofware junior, naci y creci en Cali Colombia, realize el Tecnico en el Sena CDTI.
        y Realize las practicas en Tu Compra para poder hampliar mis conocimientos en el area de la programacion, el trabajo en equipo lo puedo manejar muy bien.
        puedo aprender con mucha facilidad  
    </p>
    <img src="../../../assets/img/Hand holding pen-rafiki.png" >
</div>


