.titulo-2{
    text-align: center;
    font-size: 250%;
    border-bottom: 5px solid rgb(25%, 48%, 100%) ;
    border-radius: 3px;
}

.position{
    margin-top: 5%;
    width: 15%;
    margin-left: 40%;
}

.lenguajes{
    border-bottom: 5px solid rgb(25%, 48%, 100%) ;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}
