<div class="position">
    <p class="titulo-2">Habilidades</p>
</div>

<div class="gird card texto">
    <div class="col-8 col-offset-2 grid lenguajes flex justify-content-between flex-wrap " style="font-size: 2rem;">
        <div  class="col-4 ">Java</div>
        <div class="col-4 flex align-items-center justify-content-center">Bajo</div>
        <div  class="col-4 flex align-items-center justify-content-center" style="margin-left: 0%; padding-right: 0%;"><i class="fab fa-java"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">spring boot</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><img src="../../../assets/img/spring-boot-600x300.png" style="height: auto; width: 26%; " alt=""></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">HTML</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fab fa-html5"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">CSS</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fab fa-css3"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid " style="font-size: 2rem;">
        <div  class="col-4">Angular</div>
        <div class="col-4 flex align-items-center justify-content-center">Bajo</div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fab fa-angular"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">Javascript/Typescript</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fab fa-js"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">php</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fab fa-php"></i></div>
    </div>
    <div class="col-8 col-offset-2  lenguajes grid" style="font-size: 2rem;">
        <div  class="col-4">SQL</div>
        <div  class="col-4 flex align-items-center justify-content-center"><span>Bajo</span></div>
        <div  class="col-4 flex align-items-center justify-content-center"><i class="fa fa-database"></i></div>
    </div>
</div>
