:host {
    ::ng-deep{
        .p-tabmenu{
            width: 100%;
            top: 0;
            position: fixed;
            z-index:100;
        }
        .p-element .p-tabmenuitem {
            margin-left: 14%;

            .p-highlight{
                color: rgb(25%, 48%, 100%);
            }
        }

        span{
            color: rgb(25%, 48%, 100%);

        }
    }
}